@import './ExperienceCompany/ExperienceCompanyKodiri/ExperienceCompanyKodiriLogo/ExperienceCompanyKodiriLogo.scss';

.experience-component {

    .view-root {
        
        &:after {
            background-image: url('./Experience.jpg');
        }
    }

    main {
        align-content: flex-start;
    }

    .companiesWrapper {            
        margin: 0 auto;
        display: grid;
        grid-gap: 45px;
    }

    .ExperienceCompany {
        display: grid;
        grid-template-columns: 1fr;
    }

    .logoWrapper {
        height: fit-content;
        margin: 10px 0 15px 0;
        text-align: center;

        img {
            width: 100%;
            max-width: 300px;
        }
    }

    .details {
        display: grid;
        grid-gap: 15px;
        align-content: flex-start;
    }

    .position {
        display: grid;
        grid-gap: 15px;
    }

    p {
        margin: 15px 0;

        &:first-of-type {
            margin-top: 0;
        }
    }

    @media (min-width: $mobile-width) {

        .position {
            grid-template-columns: repeat(3, 1fr);
        }
    }

    @mixin experience-layout($logo-width) {

        .companiesWrapper {
            max-width: $logo-width + $max-text-width;
            grid-gap: 50px;
        }

        .ExperienceCompany {
            grid-template-columns: $logo-width 1fr;
        }
    }

    @media (min-width: $tablet-width) {
        @include experience-layout(300px);

        .logoWrapper {
            margin: 0;
        }
    }

    @media (min-width: $desktop-width) {
        @include experience-layout(400px);
    }
}