@import './ExperienceKodiriLogo/ExperienceKodiriLogo.scss';

.Experience {
    $logo-width: 400px;

    &:after {
        background-image: url('./Experience.jpg');
    }

    main {
        align-content: flex-start;

        .companiesWrapper {
            max-width: $logo-width + $max-text-width;
            margin: 0 auto;
            display: grid;
            grid-gap: 50px;

            .ExperienceCompany {
                display: grid;
                grid-template-columns: $logo-width 1fr;
        
                .details {
                    display: grid;
                    grid-gap: 15px;
        
                    .position {
                        display: grid;
                        grid-template-columns: repeat(3, 1fr);
                    }

                    p {
                        margin: 5px 0;
                        line-height: 1.5;

                        &:first-of-type {
                            margin-top: 0;
                        }
                    }
                }

                .logo {
                    display: block;
                    width: 100%;
                    height: 100%;
                    background-repeat: no-repeat;
                    background-position: center;
                    background-size: contain;

                    &.logo_hsbc         { background-image: url('./logos/hsbc.svg'); }
                    &.logo_sky          { background-image: url('./logos/sky.svg'); }
                    &.logo_flowable     { background-image: url('./logos/flowable.svg'); }
                    &.logo_mimacom      { background-image: url('./logos/mimacom.svg'); }
                    &.logo_palluc       { background-image: url('./logos/palluc.svg'); }
                    &.logo_ever         { background-image: url('./logos/ever.svg'); }
                    &.logo_vtt          { background-image: url('./logos/vtt.svg'); }
                }
            }
        }
    }
}