version: 2.1
orbs:
  node: circleci/node@1.1.6
  cypress: cypress-io/cypress@1.25.1
jobs:
  build-artifact:
    executor:
      name: node/default
    steps:
      - checkout
      - node/with-cache:
          steps:
            - run: npm install
            - run: npm run build
  lint-code:
    executor:
      name: node/default
    steps:
      - checkout
      - node/with-cache:
          steps:
            - run: npm run lint
  check-typescript:
    executor:
      name: node/default
    steps:
      - checkout
      - node/with-cache:
          steps:
            - run: npm run ts            
  run-tests-unit:
    executor:
      name: node/default
    steps:
      - checkout
      - node/with-cache:
          steps:
            - run: npm run test:unit
            - store_test_results:
                path: ./test-results
            - store_artifacts:
                path: ./test-results
  bump-version:
    executor:
      name: node/default  
    steps:
      - checkout
      - add_ssh_keys:
          fingerprints:
            - "31:05:a7:62:3d:86:f9:b5:6c:f3:9c:0b:94:53:84:3d"
      - run:
            name: Bump version
            command: |
                git config user.name "Ricardo Mallols"
                git config user.email "ricardo.mallols@gmail.com"
                git pull --rebase
                npm version patch -m "Bump version [ci skip]"
                git push && git push --tags                     
  deploy-to-uat:
    executor:
      name: node/default
    steps:
      - checkout
      - node/with-cache:
          steps:
            - run: ./node_modules/.bin/vercel -c -t ${NOW_TOKEN}
  deploy-to-prd:
    executor:
      name: node/default
    steps:
      - checkout
      - node/with-cache:
          steps:
            - run: ./node_modules/.bin/vercel -c -t ${NOW_TOKEN} --prod

workflows:
    build-test-and-deploy:
      jobs:
        - build-artifact        
        - lint-code:
            requires:
              - build-artifact
        - check-typescript:
            requires:
              - build-artifact
        - run-tests-unit:
            requires:
              - lint-code
              - check-typescript
        - deploy-to-uat:
            requires:
              - run-tests-unit
        - cypress/run:
            # requires:
            #   - deploy-to-uat
            post-steps:
              - store_test_results:
                  path: ./test-results
              - store_artifacts:
                  path: ./test-results
        - approve-uat:
            type: approval
            requires:
              - cypress/run
        - bump-version:
            requires:
              - approve-uat
            filters:
              branches:
                only:
                  - master
        - deploy-to-prd:
            requires:
              - bump-version
