@import './HeaderMenuNav/HeaderMenuNav.scss';

.HeaderMenu {

    .links {
        will-change: transform;
        transition: transform $animation-type $animation-duration;
        display: grid;
        position: fixed;
        right: 0;
        top: 0;
        width: 100%;
        height: 100%;
        transform: translateX(100%);
        text-align: center;
        background-color: transparentize($charade-color, 0.03);
        font-size: 1.3rem;

        &.is-open {
            transform: translateX(0);
        }
    }

    a {
        position: relative;
        text-decoration: none;
        display: grid;
        align-content: center;
        padding: 30px 25px;

        &:after {
            content: '';
            position: absolute;
            left: 0;
            bottom: 10px;
            width: 100%;
            height: 5px;
        }

        &.is-active {

            &:after {
                background-color: $pink-color;
            }
        }
    }

    @media (min-width: $mobile-width) {

        .links {
            width: 50%;
        }
    }

    @media (min-width: $desktop-width) {

        .links {
            display: flex;
            position: relative;
            width: auto;
            background-color: transparent;
            transform: translateX(0);
            font-size: 1.1rem;
        }

        .HeaderMenuNav {
            display: none;
        }

        a {

            &:last-child {
                padding-right: 0;
            }
        }
    }
}