.SkillsText {
    align-self: flex-start;
    overflow: auto;

    @media (min-width: $tablet-width) {
        max-height: $available-height;
    }

    @media (min-width: $desktop-width) {
        align-self: center;
    }
}