.home-component {

    .view-root {
        
        &:after {
            background-image: url('./Home.jpeg');
        }
    }

    main {
        grid-template-columns: 1fr;
        align-content: center;
        grid-gap: 45px;
        height: $available-height;
    }

    .welcome {
        display: grid;
        text-align: center;
        align-content: center;
        grid-gap: 45px;
    }

    .title {
        line-height: .8;
    }

    .codeWrapper {
        display: none;
        align-items: center;
    }

    .Code {
        grid-area: Code;
    }

    @media (min-width: $mobile-width) and (orientation:landscape) {

        main {
            align-content: flex-start;
        }
    }

    @media (min-width: $mobile-width) {



        .codeWrapper {
            display: grid;
        }
    }

    @media (min-width: $desktop-width) {

        main {
            grid-template-columns: 3fr 4fr;
            justify-content: right;
            align-content: center;
            grid-gap: 90px;
        }
        
        .welcome {
            grid-gap: 145px;
            text-align: right;
        }
    }
}