.Home {

    &:after {
        background-image: url('./Home.jpeg');
    }

    main {
        grid-template-columns: 3fr 4fr;
        align-content: center;
        grid-gap: 90px;
    }

    .welcome {
        display: grid;
        grid-gap: 80px;
        justify-content: right;
    }

    .title {
        line-height: 1;
    }

    .codeWrapper {
        display: grid;
        align-items: center;
    }
}