$charade-color: #232530;
$pink-color: #ff79c6;
$cyan-color: #8be9fd;
$green-color: #50fa7b;
$red-color: #ff5555;
$yellow-color: #f1fa8c;
$purple-color: #bd93f9;

$animation-type: ease;
$animation-duration: .3s;

$header-height: 100px;
$footer-height: 120px;
$max-text-width: 900px;
$available-height: calc(100vh - #{$header-height + $footer-height});