footer {
    height: $footer-height;
    display: grid;
    align-items: end;
    margin-bottom: 1px;

    @media (min-width: $mobile-width) {
        justify-content: center;
        align-items: center;
        margin-bottom: 0px;
    }
}