@import './SkillsText/SkillsText.scss';

.Skills {

    &:after {
        background-image: url('./Skills.jpg');
    }

    main {
        grid-template-columns: 1fr 1fr;
        grid-gap: 60px;
    }
}