@import './SkillsChart/SkillsChart.scss';
@import './SkillsText/SkillsText.scss';

.skills-component {

    .view-root {

        &:after {
            background-image: url('./Skills.jpg');
        }
    }

    main {
        grid-template-columns: 1fr;
        grid-gap: 15px;
    }

    @media (min-width: $tablet-width) {

        main {
            grid-template-columns: 1fr 1fr;
            grid-gap: 60px;
        }
    }
}