.HeaderMenuNav {
    z-index: 2;
    width: 62px;
    height: 58px;
    transform: rotate(0deg);
    transition: .5s ease-in-out;
    position: relative;
    cursor: pointer;

    span {
        display: block;
        position: absolute;
        height: 5px;
        background: white;
        opacity: 1;
        left: 15px;
        right: 15px;
        transform: rotate(0deg);
        transition: .25s ease-in-out;

        &:nth-child(1) {
            top: 15px;
        }

        &:nth-child(2) {
            top: 26px;
        }

        &:nth-child(3) {
            top: 37px;
        }
    }

    &.is-open {

        span {

            &:nth-child(1) {
                top: 26px;
                transform: rotate(135deg);
            }

            &:nth-child(2) {
                opacity: 0;
                left: -45px;
            }

            &:nth-child(3) {
                top: 26px;
                transform: rotate(-135deg);
            }
        }
    }
}