@import './Home/Home.scss';
@import './AboutMe/AboutMe.scss';
@import './Skills/Skills.scss';
@import './Experience/Experience.scss';
@import './Community/Community.scss';

.App {

    .is-text {
        max-width: $max-text-width;
        margin: 0 auto;
    }

    .is-text-centered   { text-align: center; }

    .is-color-red       { color: $red-color; }
    .is-color-yellow    { color: $yellow-color; }
    .is-color-green     { color: $green-color; }
    .is-color-cyan      { color: $cyan-color; }
    .is-color-pink      { color: $pink-color; }
}