@import './Home/Home.scss';
@import './AboutMe/AboutMe.scss';
@import './Skills/Skills.scss';

.App {

    .is-text-center {
        text-align: center;
    }

    .is-text-right {
        text-align: right;
    }

    .is-color-red {
        color: $red-color;
    }

    .is-color-yellow {
        color: $yellow-color;
    }

    .is-color-green {
        color: $green-color;
    }

    .is-color-cyan {
        color: $cyan-color;
    }

    .no-margin {
        margin: 0;
    }
}