@import './shared/variables.scss';
@import './shared/buttons.scss';
@import './shared/Header/Header.scss';
@import './shared/Routes/Routes.scss';
@import './shared/Code/Code.scss';
@import './shared/Footer/Footer.scss';
@import './shared/SocialMediaLinks/SocialMediaLinks.scss';
@import './App.scss';

@mixin heading($font-size) {
    font-size: $font-size;
    margin: 0;
    line-height: 1;
}

@font-face {
    font-family: titillium;
    src: url(./TitilliumWeb-Regular.ttf);
}

* {
    box-sizing: border-box;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

body,
html {
    padding: 0;
    margin: 0;
    font-family: titillium;
    color: white;
    font-size: 20px;
}

main {
    display: grid;
    overflow: auto;
    margin: 0 auto;
    width: 100%;
}

a {
    cursor: pointer;
    color: $cyan-color;
    text-decoration: underline;

    > * {
        cursor: pointer;
    }
}

p {
    margin: 20px 0;

    &:first-of-type { margin-top: 0; }
    &:last-of-type { margin-bottom: 0; }
}

h1 { @include heading(6rem); }
h2 { @include heading(5rem); }
h3 { @include heading(4rem); }
h4 { @include heading(3rem); }
h5 { @include heading(2rem); }
h6 { @include heading(1.25rem); }

iframe {
    border: none;
}

@media (min-width: $mobile-width) {

    main {
        align-content: center;
        height: $available-height;
    }
}
