.AboutMe {
    display: grid;
    align-content: center;
    
    .is-text {
        max-width: 900px;
        margin: 0 auto;
    }

    &:after {
        background-image: url('./AboutMe.jpg');
    }
}