.AnimatedRoute {
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;

    > * { //Animation layer

        > * { //View root layer
            $padding: 30px;
            height: 100vh;
            overflow-y: auto;
            background-color: transparentize($charade-color, 0.03);
            padding: $header-height $padding 0 $padding;

            &:after {
                content: '';
                position: absolute;
                top: 0;
                left: 0;
                width: 100%;
                height: 100%;
                background-size: cover;
                z-index: -1;
            }
        }
    }
}