.AnimatedRoute {
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;

    > * { //Animation layer

        > * { //View root layer
            $padding: 30px;
            height: 100vh;
            overflow-y: auto;
            padding: $header-height $padding 0 $padding;

            &:before {
                $line-left: 125px;
                $line-width: 3px;
                @include overlay(-1);
                background-color: transparentize($charade-color, 0.03);
                top: auto;
                bottom: 100%;
                width: $line-width;
                left: $line-left;
                animation-name: show-overlay;
                animation-fill-mode: forwards;
                animation-duration: $animation-duration;
                animation-delay: 1s;

                @keyframes show-overlay {
                    50% {
                        left: $line-left;
                        width: $line-width;
                    }
                    100% {
                        left: 0;
                        bottom: 0;
                        width: 100%;
                    }
                }
            }

            &:after {
                @include overlay(-2);
            }

            > * { //content layer
                animation-name: show-content;
                animation-duration: $animation-duration;
                animation-fill-mode: forwards;
                opacity: 0;
                animation-delay: 1.25s;
        
                @keyframes show-content {
                    to { opacity: 1; }
                }
            }
        }
    }
}